body {
	margin: 0;
	padding: 0;
}
svg {
	-moz-user-select: none;
	-webkit-user-select: none;
}
#viz {
	position: absolute;
	top: 50px;
	left: 50px;
	right: 50px;
	bottom: 50px;
	/*background-color: #dfdfdf;*/
	/*width: 100%;*/
	/*height: 3000px;*/

}
